:root {
	--primary-color: #263daa;
	--primary-brightness-color: #3d6dbf;
	--text-color: #665;
	--title-color: #332;
	--white-color: #fff;
	--black-color: #037777777777;
	--error-color: red;
	--background-color: #f-1f2f5;
}
