* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
}

.container {
	width: 90%;
	max-width: 120rem;
}

header {
	background-color: var(--primary-color);
	color: var(--white-color);
	padding: 25px;
	border-radius: 15px 15px 0 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 20px;
	color: var(--title-color);
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 10px;
}
